<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>co.edu.sena.controller.start.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>co.edu.sena.controller.redirect.redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Selects</servlet-name>
        <servlet-class>co.edu.sena.controller.selects.Selects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instructores</servlet-name>
        <servlet-class>co.edu.sena.controller.selects.Instructores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadProduct</servlet-name>
        <servlet-class>co.edu.sena.controller.upload.uploadProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productos</servlet-name>
        <servlet-class>co.edu.sena.controller.productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendAgain</servlet-name>
        <servlet-class>co.edu.sena.controller.upload.sendAgain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
        <url-pattern>/Roles</url-pattern>
        <url-pattern>/setRolOne</url-pattern>
        <url-pattern>/setMyRol</url-pattern>
        <url-pattern>/RedirectRol</url-pattern>
        <url-pattern>/Logout</url-pattern>
        <url-pattern>/ForgotPass</url-pattern>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/Menu</url-pattern>
        <url-pattern>/Upload</url-pattern>
        <url-pattern>/Search</url-pattern>
        <url-pattern>/SendAgain</url-pattern>
        <url-pattern>/Notify</url-pattern>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Selects</servlet-name>
        <url-pattern>/SelectsTipoDocu</url-pattern>
        <url-pattern>/SelectsCentros</url-pattern>
        <url-pattern>/SelectsArea</url-pattern>
        <url-pattern>/getNotificationsCorre</url-pattern>
        <url-pattern>/getNotificationsGeneral</url-pattern>
        <url-pattern>/getEvaluation</url-pattern>
        <url-pattern>/getItemsList</url-pattern>
        <url-pattern>/getItemsCalificados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Instructores</servlet-name>
        <url-pattern>/Instructores</url-pattern>
        <url-pattern>/Categorias</url-pattern>
        <url-pattern>/TemasCategorias</url-pattern>
        <url-pattern>/ProductosVirtualesTecnico</url-pattern>
        <url-pattern>/ProductosVirtualesPedagogico</url-pattern>
        <url-pattern>/ProductosVirtualesCoor</url-pattern>
        <url-pattern>/getAutoresPro</url-pattern>
        <url-pattern>/updatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadProduct</servlet-name>
        <url-pattern>/uploadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productos</servlet-name>
        <url-pattern>/Productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendAgain</servlet-name>
        <url-pattern>/sendAgain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
